:root{

}
button{
  -webkit-appearance: none;
}

body{
  background:black;
  width: 300px;
  max-width:300px;
  font-family: cursive;
  font-size:10px;
  margin:0;overflow: hidden;
}
h1{
  color: #dda0dd;
  display: inline;
  cursor: pointer;
}
#mode_container{
  display: flex;
  width:300px;
  max-width: 300px;
  display:flex;
  padding:1px;
}
.mode_button{
  color:white;
  background:#720e9e;
  width:50%;
  cursor:pointer;
  font-family:cursive;
  border:0;
  transition:0.2s ease-in;
}
.mode_button:active{
  background: #a76dc0;
}
.modeActive{
  background: #2f0341;
  text-shadow: #000000;
}

#slider_name_container{
  display: flex;
  width:300px;
  max-width:300px;
}
#slider_name_container input{
  -webkit-appearance:none ;
  width:255px;
  height:12px;
  font-size:10px;
  position:absolute;
  display: inline;
  margin-left:40px;
  text-align: center;
  border:none;
  outline:none;
  background:rgb(19, 19, 19);
  color:white;
  border-radius:3px;
  font-family:cursive;
}

#slide_aside{
  display:flex;
  width:40px;
  height:200px;
  background: #720e9e;
  flex-direction: column;
}
#slide_selector{
  border:0;
  height:30px;
  color:white;
  background:#720e9e;
  font-weight: bold;
  cursor: pointer;
  transition:0.5s ease-out;
  font-family: cursive;
}
#slide_selector:hover{
  background:#a76dc0;
}
#slide_selector:focus{
  background: #000000;
}
.slide_selector_active{
  background: #000000;
}

#slide_content{
  background:rgb(12, 12, 12);
  width:260px;
  height:186px;
  max-width:300px;
  margin-left:40px;
  position:absolute;
  top: 65px;
}

#lw3_content{
  background:rgb(100, 24, 24);
  width:260px;
  height:186px;
  max-width:300px;
  margin-left:40px;
  position:absolute;
  top: 65px;
  display:none;
}
